body {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}


/* Title-Section */


#title {
  position: relative;
  background-color: #fd3e5b;
  color: #fff;
}

  /* Parent Div */

.container-fluid {
  text-align: left;
  padding: 1% 10% 0 10%;
}

    /* Brand */

.navbrand {
  color: white;
  letter-spacing: 2px;
  font-size: 2rem;
  padding-left: 0;
}

    /* Dot-Button */

#title .dot-button {
  margin-bottom: 70%;
  background-color: transparent;
  border-top: dotted white;
  border-width: 8px;
  width: 120%;
}
      /* Removes shiity edges around button */
.navbar-toggler:focus {
  box-shadow: none;
}


    /* Alings-button-dropdown */

.align-nav {
  text-align: right;
}

    /* Nav-list and hovering property */

.nav-item {
  padding: 0 1rem;
}
.navlink {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 1.2rem;
  color: rgb(221, 218, 218);
}
.navlink:hover {
  color: #000000;
}

.navbrand:hover {
  color: #fff;
}

    /* First Div */

.div1 {
  margin-top: 15%;
  min-height: 60vh;
}

.heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  width: 90%;
  color: #fff;
}

.b1 {
  position: relative;
  top: 10%;
  margin: 3% 3% 3% 0%;
}
.b2 {
  position: relative;
  top: 10%;
  margin: 3% 3% 3% 0%;
}

    /* Second Div */

.image1 {
  position: absolute;
  transform: rotate(22deg);
  max-width: 20%;
  top: 35%;
  margin-left: 8%;
}


/* Features-Section */


#features {
  position: relative;

  padding: 10% 10%;
  background-color: #fff;
}

  /* All-Icon-for-Features and their hovering*/

.features-icon {
  font-size: 5rem;
  color: #ef8172;
  padding: 5% 0;
}
.features-icon:hover {
  color: #fd3e5b;
  transform: scale(1.5);
  padding-bottom: 10%;
}

  /* Small-Heading-Text(h3) and short-para */

#features h3 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 1000;
}

#features p {
  margin: 0 auto;
  color: #8f8f8f;
  padding: 0 20%;
}


  /* Testimonials-Section */


#testimonials {
  position: relative;
  background-color: #ef8172;
  color: #fff;
  padding: 0 10% 2% 10%;
}

  /* Testimonials-Main-Content and User-Sign (all in side carousel)*/

#testimonials h2 {
  font-family: "Montserrat-Bold";
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  padding: 5% 15% 0 15%;
}
#testimonials img {
  border-radius: 100%;
  width: 15%;
}
#testimonials em {
  margin-top: 2%;
  display: block;
}

  /* Carousel-Button and hover state */

.slide-button1 {
  position: absolute;
  top: 50%;
  left: 0;

  font-size: 50px;
  color: #fff;
}
.slide-button1:hover {
  color: black;
}

.slide-button2 {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 50px;
  color: #fff;
}
.slide-button2:hover {
  color: black;
}


/* Press-Section (contains company logo)*/


#press {
  background-color: #ef8172;
  padding-bottom: 5%;
}

#press img {
  width: 15%;
  margin: 3% 2%;
}


/* Pricing-Section */


#pricing {
  padding: 10% 10% 8% 10%;
}

.pricing-heading {
  text-align: left;
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
.pricing-paragraph {
  text-align: left;
  font-size: 1.3rem;
  color: #8f8f8f;
}

  /* Row of cards */
#pricing .row {
  margin-top: 5%;
}

    /* Giving outer border to cards and defining spacing */

.card {
border: solid black 3px;
margin: 10px 0;
}
      /* Gives Style to price tags inside card(h2) */
.card-price {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2;
}

      /* Inside-card-hr-rule */

hr {
  background-color: transparent;
  width: 30%;
  margin: 10px auto;
  border: 0;
  border-top: 1px dotted black;
  border-width: 5px;
}


/* Cta-Section */

#cta {
  background-color: #fd3e5b;
  padding: 10% 0%;
}

#cta h3 {
  width: 65%;
  margin: 0 auto 2% auto;
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

#cta .btn {
  margin: 0 0.7%;
}


/* Footer-Section */


#footer {
  
  padding: 5% 0 1% 0;
  
}
  
  /* Icon-Size */

.f-icon {
  font-size: 2rem;
  margin: 0 0.5%;
}
  /* Anchor-Tags-Used-With-icon as btn (normal and hoverd state) */

#footer a {
  color: black;
}

.f-icon:hover {
  color: #fd3e5b;
  transform: scale(1.5);

}
#footer p{
  display: block;
  margin-top: 3%;
}

/* For screens smaller than 990px (phones)*/

@media (max-width: 990px) {
/* Reduces font size on cta for better redability */
  #cta h3 {
    font-size: 2rem;
    margin-bottom: 4%;
  }
/* Hides slide icons on smaller screens */
  #testimonials .fas {
    display: none;
  }
/* Adds margin and padding and width to butify button  */
    .b1,.b2 {
    margin: 5% 2% 5% 0;
    margin-bottom: 20%;
    width: 45%;
  }
/* Changes padding of fluid container for better fitting (belongs to title section) */
  .container-fluid {
    padding: 1% 10% 0% 10%;
    text-align: center;
  }
/* Sets parameters for image rotates back to normal sets better width and margin + puts display to static */
  .image1 {
    position: static;
    transform: rotate(0);
    max-width: 80%;
    margin: 0% auto 5% auto;
  }
/* Sets better size for image and text for smaller screens */
  #testimonials h2 {
    font-size: 1.2rem;
  }
  #testimonials img {
    width: 20%;
  }
}

/* For misc view-ports */

@media (max-width: 1200px) and (min-width: 992px) {
  .b1,
  .b2 {
    margin-top: 0;
    margin-bottom: 5%;
  }
  .image1 {
    top: 53%;
    width: 80%;
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  .b1,
  .b2 {
    margin-top: 0;
  }
  .div1 {
    min-height: 65vh;
    margin-top: 17%;
  }
  .image1 {
    margin-top: 0;
    padding-top: 0;
    top: 52%;
  }
}

